# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Ignore any nested pycache folders
**/__pycache__/

# Environment and config
.env
.env.*
.venv/
venv/
ENV/

# OS / Editor / Local stuff
.DS_Store
.vscode/
.idea/
